@page

<div class="row justify-content-center">
    <div class="col-sm-10">
        <h1>Archive</h1>

        @foreach (var post in Blog.Archive.Posts)
        {
            <article>
                <header>
                    <h2><a href="/@post.Slug">@post.Title</a></h2>
                    <partial name="Partial/_PostMeta" for="@post" />
                </header>
                <p>@Html.Raw(post.Html)</p>
            </article>
        }
    </div>
</div>
