@page
@section script
{
    <script>
        $.get('/comments/@Blog.Post.Id', function (data) {
            $('#comments').html(data);
        });
    </script>
}

<main role="main" class="container">
    <article>
        <header>
            <div class="row justify-content-center">
                <div class="col-sm-10">
                    <h1>@Blog.Post.Title</h1>
                    <partial name="Partial/_PostMeta" for="Blog.Post" />
                </div>
            </div>
        </header>
        <div class="row justify-content-center">
            <div class="col-sm-10">
                <div class="lead">
                    @Blog.Post.Excerpt.ToHtml()
                </div>
                @Blog.Post.Body.ToHtml()
            </div>
        </div>
    </article>

    @if (Blog.Post.CommentCount > 0)
    {
        <div class="row justify-content-center">
            <div class="col-sm-10 comment-title">
                @if (Blog.Post.CommentCount == 1)
                {
                    <h4>1 Comment</h4>
                }
                else
                {
                    <h4>@Blog.Post.CommentCount Comments</h4>
                }
            </div>
        </div>
        <div id="comments">
        </div>
    }
</main>
